article {
	width: 90%;
	margin: 1rem auto 3rem;
	border: $stormtrooper_red solid 10px;
	background-color: $stormtrooper_article;
	padding: 15px;
	border-radius: 1em;
	header {
		@mixin clearfix {
		overflow: auto;
		}
	}
}

.article-poster {
		float: left;
		width: 25%;
		margin-right: 1.5rem;
}

.article-title {
	h2 {
		font-size: 1.2em;
		color: $stormtrooper_grey;
	}
	h1 {
		font-size: 2rem;
		margin-bottom: 0;
		color: $stormtrooper_red;
	}
}
