*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
	font-family: $basic_storm_font_family;
	font-size: 20px;
	line-height: 1.35;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: $stormtrooper_backgroud;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $htag_storm_font_family;
	// font-weight: 700;
	line-height: 1.1;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
}

.home {
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
