$stormtrooper_red: #990000;
$stormtrooper_grey: #999;
$stormtrooper_backgroud: #140000;
$stormtrooper_article: #D9BDAF;
$basic_storm_font_family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$htag_storm_font_family: 'Oswald', Helvetica, Arial, sans-serif;
